.cabecalho {    
    background-color: #424A4D;
    width: 100vw;
}

.cabecalho ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: .5rem .5rem;
}

li, img{
    height: 3rem;
}

.btn {
    height: 3rem;
    border: none;
    background-color: #424A4D;
    padding: 0;
}