.card {
    width: 18rem;
    max-width: 90vw;
    height: 24rem;
    margin: auto;
    text-align: center;
    color: #fff;
    border: 8px solid #fff;
    border-radius: 2rem;
}

.card__top {
    height: 25%;
    position: relative;
}

.card__top img {
    top: 50%;
    left: 33.33%;
    position: absolute;
    height: 83.33%;
    border: 8px solid #fff;
    border-radius: 50%;
}

.card__botton {
    height: 75%;
    background-color: #65656D;
    border-radius: 0 0 1.5rem 1.5rem;
}