.card {
    width: 18rem;
    max-width: 90vw;
    height: 24rem;
    margin: auto;
    text-align: center;
    color: #fff;
    border: 8px solid #fff;
    border-radius: 2rem;
}

.card__top {
    height: 25%;
    position: relative;
}